<div class="w-64">
<p>Your shareable profile link:</p>
<div class=" flex rounded-xl">
<input type="text" value="https://<%= host%>/user/<%= id%>" class="px-1 py-2 border-2 border-purple-600 rounded-l-xl border-0 outline-0 text-center" id="profileurl" readonly>
<button class="bg-purple-600 text-white border-2 border-purple-600 px-2 rounded-r-xl hover:bg-purple-900 transition duration-500" id="copybutton" >
    <svg class="w-6 h-6" viewBox="0 0 24 24">
    <path fill="currentColor" d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z" />
    </svg> 
</button>
</div>
</div>

<script>


function handleCopyTextFromParagraph(e) {
    e.preventDefault();
  const paragraph = document.querySelector('#profileurl');
  paragraph.select();
  document.execCommand("copy");
}
    document.getElementById("copybutton").addEventListener("click",handleCopyTextFromParagraph);

</script>
