<div class="mt-8 text-gray-500">
    <%= render 'shared/profile/experience_item_with_description', 
        company: experience.company,
        position: experience.position,
        start_date: experience.start,
        end_date: experience.end,
        description: experience.description
    %>
</div>