<div class="mt-8 ml-2 text-gray-500">
    <%= render 'shared/profile/project_item_with_description', 
        title: project.title,
        url: project.url,
        techstack: project.techstack,
        description: project.description
    %>
</div>